{% extends "base.html" %}
{% load formatos %}

{% block content %}

<div class="container mt-4">
  <h1>Confirmar Cobro</h1>
  <hr>

  <div class="alert alert-warning">
    <strong>¿Estás seguro de que quieres realizar el cobro de la reserva de la habitación
      [{{reserva.habitacion.numero}}] ?</strong>

  </div>

  <!-- Mostrar detalles de cuenta -->
  <h3>Datos de la Reserva</h3>
  <p><strong>Cliente:</strong> {{ reserva.cliente.nombre }} {{ reserva.cliente.apellido }}</p>
  <p><strong>Habitación:</strong> {{ reserva.habitacion.numero }}</p>
  <p><strong>Fecha de Inicio:</strong> {{ reserva.fecha_inicio|date:"d/m/Y" }}</p>
  <p><strong>Fecha de Fin:</strong> {{ reserva.fecha_fin|date:"d/m/Y" }}</p>
  <p><strong>Noches de Hospedaje:</strong> {{ noches }}</p>

  <hr>

  <h3>Total a Pagar</h3>
  <p><strong>Total Hospedaje:</strong> ${{ valor_hospedaje|formatear_pesos }}</p>
  <p><strong>Total Consumos:</strong> ${{ total_consumos|formatear_pesos }}</p>
  <p><strong>Total General:</strong> ${{ total_general|formatear_pesos }}</p>

  <hr>

  <form method="post">
    {% csrf_token %}
    <a href="{% url 'panel_de_usuario' %}" class="btn btn-secondary">Cancelar</a>
    <button type="submit" class="btn btn-success ms-2">Confirmar Cobro</button>
  </form>

</div>

{% endblock %}