{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h3 class="mb-0">Detalle del Cliente</h3>
    </div>
    <div class="card-body">
      <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
      <p><strong>Apellido:</strong> {{ cliente.apellido }}</p>
      <p><strong>Email:</strong> {{ cliente.email }}</p>
      <p><strong>Celular:</strong> {{ cliente.celular }}</p>
      <p><strong>Documento:</strong> {{ cliente.numero_documento }}</p>
      <a href="{% url 'vista_clientes' %}" class="btn btn-secondary mt-3">Volver a la lista de clientes</a>
    </div>
  </div>
</div>
{% endblock %}